{
  "swagger": "2.0",
  "info": {
    "version": "2.0-oas3",
    "title": "ABFRL User Auth Flow API",
    "contact": {}
  },
  "host": "apigateway.abfrl.in",
  "basePath": "/",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/user/device": {
      "post": {
        "description": "",
        "summary": "Trigger device profile or visual search",
        "operationId": "Triggerdeviceprofileorvisualsearch",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pagetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDeviceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/user/session": {
      "post": {
        "description": "",
        "summary": "Start a user session",
        "operationId": "Startausersession",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pagetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserSessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session started",
            "headers": {}
          }
        }
      }
    },
    "/user/exist": {
      "post": {
        "description": "",
        "summary": "Check if user exists",
        "operationId": "Checkifuserexists",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pagetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserExistRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User existence verified",
            "headers": {}
          },
          "404": {
            "description": "User not found",
            "headers": {}
          }
        }
      }
    },
    "/user/requestOtp": {
      "post": {
        "description": "",
        "summary": "Request OTP",
        "operationId": "RequestOTP",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pagetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserRequestOtpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTP sent",
            "headers": {}
          }
        }
      }
    },
    "/user/verifyOtp": {
      "post": {
        "description": "",
        "summary": "Verify OTP",
        "operationId": "VerifyOTP",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserVerifyOtpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTP verified",
            "headers": {}
          },
          "401": {
            "description": "Invalid OTP",
            "headers": {}
          }
        }
      }
    },
    "/user/info": {
      "post": {
        "description": "",
        "summary": "Fetch user info",
        "operationId": "Fetchuserinfo",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserInfoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/cart": {
      "post": {
        "description": "",
        "summary": "Retrieve or create shopping cart details",
        "operationId": "Retrieveorcreateshoppingcartdetails",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart details retrieved successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/location/coordinates": {
      "post": {
        "description": "",
        "summary": "Submit or update user location coordinates",
        "operationId": "Submitorupdateuserlocationcoordinates",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pagetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocationCoordinatesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location coordinates saved successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/wishlist": {
      "post": {
        "description": "",
        "summary": "Retrieve or update user wishlist items",
        "operationId": "Retrieveorupdateuserwishlistitems",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pagetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/WishlistRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wishlist retrieved or updated successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/menu": {
      "get": {
        "description": "",
        "summary": "Retrieve menu view",
        "operationId": "Retrievemenuview",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shop id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the request"
          },
          {
            "name": "device type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Unique identifier for the request"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/MenuResponse"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current period",
                "type": "string"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current period",
                "type": "string"
              },
              "X-RateLimit-Reset": {
                "description": "The time at which the rate limit resets",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/products/vh/{id}": {
      "post": {
        "description": "",
        "summary": "getProductDetailsById",
        "operationId": "getProductDetailsById",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier of the product"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token for authentication"
          },
          {
            "name": "device-token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Device token for push notifications"
          },
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Identifier for the shop"
          },
          {
            "name": "device-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Unique device identifier"
          },
          {
            "name": "device-type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Type of device (e.g., mobile, tablet)"
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Hash for request validation"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductsVhRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with product details",
            "schema": {
              "$ref": "#/definitions/ProductsVhResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad request due to invalid parameters",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized access",
            "headers": {}
          },
          "404": {
            "description": "Product not found",
            "headers": {}
          },
          "500": {
            "description": "Internal server error",
            "headers": {}
          }
        }
      }
    },
    "/wishlist/add": {
      "post": {
        "description": "",
        "summary": "Add a product to the user's wishlist",
        "operationId": "Addaproducttotheuser'swishlist",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/WishlistAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wishlist item added successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/cart/add": {
      "post": {
        "description": "",
        "summary": "Add a product to the shopping cart",
        "operationId": "Addaproducttotheshoppingcart",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CartAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product added to cart successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/product/loyalty": {
      "post": {
        "description": "",
        "summary": "Get loyalty points for a product for a specific customer",
        "operationId": "Getloyaltypointsforaproductforaspecificcustomer",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductLoyaltyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Loyalty points fetched successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/product/views": {
      "post": {
        "description": "",
        "summary": "Record a view event for a product",
        "operationId": "Recordavieweventforaproduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductViewsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product view recorded successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/coupon/eligible": {
      "get": {
        "description": "",
        "summary": "Retrieve eligible coupons for a specific product and customer",
        "operationId": "Retrieveeligiblecouponsforaspecificproductandcustomer",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Eligible coupons retrieved successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/coupon/termsAndConditions": {
      "get": {
        "description": "",
        "summary": "Retrieve terms and conditions for a given coupon",
        "operationId": "Retrievetermsandconditionsforagivencoupon",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "device",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved coupon terms and conditions",
            "headers": {}
          },
          "400": {
            "description": "Invalid request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          },
          "404": {
            "description": "Terms and conditions not found",
            "headers": {}
          }
        }
      }
    },
    "/service": {
      "post": {
        "description": "",
        "summary": "Retrieve available services for a store based on location and customer",
        "operationId": "Retrieveavailableservicesforastorebasedonlocationandcustomer",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pagetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service data retrieved successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/cartt": {
      "post": {
        "description": "",
        "summary": "Retrieve the cart details for a customer",
        "operationId": "Retrievethecartdetailsforacustomer",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CarttRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart data retrieved successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/cart/delete": {
      "post": {
        "description": "",
        "summary": "Delete a product from the user's cart",
        "operationId": "Deleteaproductfromtheuser'scart",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CartDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product successfully removed from cart",
            "headers": {}
          },
          "400": {
            "description": "Invalid request or product not in cart",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/cartt/add": {
      "post": {
        "description": "",
        "summary": "Add a product to the user's cart",
        "operationId": "Addaproducttotheuser'scart",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CarttAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product added to cart successfully",
            "headers": {}
          },
          "400": {
            "description": "Invalid request or product already in cart",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/coupon/applyPromo": {
      "post": {
        "description": "",
        "summary": "Apply a promotional coupon to the user's cart",
        "operationId": "Applyapromotionalcoupontotheuser'scart",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "device",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CouponApplyPromoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promo applied successfully",
            "headers": {}
          },
          "400": {
            "description": "Invalid promo code or request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized access",
            "headers": {}
          }
        }
      }
    },
    "/coupon/deletePromo": {
      "post": {
        "description": "",
        "summary": "Remove an applied promotional coupon from the user's cart",
        "operationId": "Removeanappliedpromotionalcouponfromtheuser'scart",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "device",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CouponDeletePromoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promo removed successfully",
            "headers": {}
          },
          "400": {
            "description": "Invalid request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized access",
            "headers": {}
          }
        }
      }
    },
    "/address/add": {
      "post": {
        "description": "",
        "summary": "Add a new address for the user",
        "operationId": "Addanewaddressfortheuser",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddressAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address added successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {}
          }
        }
      }
    },
    "/address/update": {
      "post": {
        "description": "",
        "summary": "Update an existing address for the user",
        "operationId": "Updateanexistingaddressfortheuser",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddressUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address updated successfully",
            "headers": {}
          },
          "400": {
            "description": "Invalid request or missing parameters",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          },
          "404": {
            "description": "Address not found",
            "headers": {}
          }
        }
      }
    },
    "/cart/updateAddress": {
      "post": {
        "description": "",
        "summary": "Update shipping and invoice address for a cart",
        "operationId": "Updateshippingandinvoiceaddressforacart",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content‑Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-TypeHeader",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CartUpdateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart address updated successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request (invalid or missing parameters)",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {}
          }
        }
      }
    },
    "/address/delete": {
      "post": {
        "description": "",
        "summary": "Delete a saved address for the user",
        "operationId": "Deleteasavedaddressfortheuser",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddressDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address deleted successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request (invalid or missing parameters)",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {}
          }
        }
      }
    },
    "/user/credits": {
      "post": {
        "description": "",
        "summary": "Retrieve user credits",
        "operationId": "Retrieveusercredits",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserCreditsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credits retrieved successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/creditsHistory": {
      "post": {
        "description": "",
        "summary": "Retrieve the user's credits history",
        "operationId": "Retrievetheuser'screditshistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreditsHistoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved credits history",
            "headers": {}
          },
          "400": {
            "description": "Bad request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/user/loyaltyProgressbar": {
      "post": {
        "description": "This API retrieves the user's loyalty progress bar based on their activity and points.",
        "summary": "Retrieve user's loyalty progress bar data",
        "operationId": "Retrieveuser'sloyaltyprogressbardata",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserLoyaltyProgressbarRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the user's loyalty progress bar.",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/user/loyaltyTransactions": {
      "post": {
        "description": "",
        "summary": "Fetch User Loyalty Transactions",
        "operationId": "FetchUserLoyaltyTransactions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserLoyaltyTransactionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Loyalty transactions fetched successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad request, possibly due to invalid parameters",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized, user needs to be authenticated",
            "headers": {}
          }
        }
      }
    },
    "/payment/tokenizedCard": {
      "post": {
        "description": "",
        "summary": "Tokenize payment card details",
        "operationId": "Tokenizepaymentcarddetails",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentTokenizedCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment successfully tokenized",
            "headers": {}
          },
          "400": {
            "description": "Bad request, invalid input",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized, invalid device or token",
            "headers": {}
          }
        }
      }
    },
    "/wishlistt": {
      "post": {
        "description": "",
        "summary": "Add or Retrieve items from the user's wishlist",
        "operationId": "AddorRetrieveitemsfromtheuser'swishlist",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/WishlisttRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wishlist retrieved or updated successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/wishlist/delete": {
      "post": {
        "description": "",
        "summary": "Delete items from the user's wishlist",
        "operationId": "Deleteitemsfromtheuser'swishlist",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/WishlistDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wishlist items deleted successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/wishlisttt": {
      "post": {
        "description": "",
        "summary": "Add or Retrieve items from the user's wishlist1",
        "operationId": "AddorRetrieveitemsfromtheuser'swishlist1",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/WishlistttRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wishlist retrieved or updated successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/review/list": {
      "post": {
        "description": "",
        "summary": "Retrieve list of user reviews",
        "operationId": "Retrievelistofuserreviews",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReviewListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of reviews",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/order": {
      "post": {
        "description": "This API is used to fetch a list of orders made by a customer.",
        "summary": "Retrieve user orders",
        "operationId": "Retrieveuserorders",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved orders",
            "headers": {}
          },
          "400": {
            "description": "Invalid request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          },
          "500": {
            "description": "Internal server error",
            "headers": {}
          }
        }
      }
    },
    "/order/details": {
      "post": {
        "description": "",
        "summary": "Retrieve detailed information for a specific order",
        "operationId": "Retrievedetailedinformationforaspecificorder",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved order details",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/user/cartCount": {
      "post": {
        "description": "Returns the total number of items present in the customer's cart.",
        "summary": "Retrieve the user's cart item count",
        "operationId": "Retrievetheuser'scartitemcount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserCartCountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned cart count",
            "headers": {}
          },
          "400": {
            "description": "Invalid request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized access",
            "headers": {}
          }
        }
      }
    },
    "/newsletter": {
      "post": {
        "description": "Allows users to subscribe to or update their newsletter subscription using email or mobile.",
        "summary": "Subscribe or manage user newsletter preferences",
        "operationId": "Subscribeormanageusernewsletterpreferences",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/NewsletterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated newsletter subscription",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/product/notify": {
      "post": {
        "description": "Allows a user to subscribe to restock notifications for a specific product variant.",
        "summary": "Notify the user when a product is back in stock",
        "operationId": "Notifytheuserwhenaproductisbackinstock",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductNotifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully registered for product notification",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/address": {
      "post": {
        "description": "Handles address information for the user, potentially related to cart or checkout.",
        "summary": "General Address API",
        "operationId": "GeneralAddressAPI",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address operation completed successfully",
            "headers": {}
          },
          "400": {
            "description": "Bad request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/user/updateCart": {
      "post": {
        "description": "This API updates the cart with new data like updated items, cart metadata, or session-based updates.",
        "summary": "Update the user's cart",
        "operationId": "Updatetheuser'scart",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserUpdateCartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart updated successfully",
            "headers": {}
          },
          "400": {
            "description": "Invalid input or cart data",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/order/arriving": {
      "post": {
        "description": "This API returns orders that are expected to arrive for the customer.",
        "summary": "Retrieve list of arriving orders for the user",
        "operationId": "Retrievelistofarrivingordersfortheuser",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderArrivingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved arriving orders",
            "headers": {}
          },
          "400": {
            "description": "Invalid request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/termsandconditons": {
      "get": {
        "description": "This API retrieves the terms and conditions based on the specified type such as \"offer\" or \"membership\".",
        "summary": "Retrieve terms and conditions",
        "operationId": "Retrievetermsandconditions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Terms and conditions successfully retrieved",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "headers": {}
          }
        }
      }
    },
    "/shopinfo": {
      "get": {
        "description": "This API retrieves basic configuration and detail information for a specific shop.",
        "summary": "Retrieve shop information",
        "operationId": "Retrieveshopinformation",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "deviceid",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetype",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "devicetoken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "hash",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "fcmToken",
            "in": "query",
            "required": false,
            "type": "string",
[...]
